
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
	background-image:url(images/backgrounds/subtle_white_mini_waves.png);
}

.logo {
  font-family: "snell roundhand";
  font-size: 80px;
  color: #0ab0da;
  text-align: center;
  letter-spacing: 0;
  margin: 0;
  padding: 24px 0 0;
}

header h2 {
	font-family: 'Montserrat', serif;
	color:#0ab0da;
	margin: 0px;
	font-size: 20px;
	text-align: center;

}

section {
	padding: 0 25%;
  margin: 80px 0;
}

/* -------  Type ------- */

h1, h2, h3 {
  font-family: 'Montserrat Alternates', sans-serif;
	color: #0f406893;
  text-align: center;
  font-weight: 500;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

p, li {
 font-family: 'Montserrat', sans-serif;
 line-height: 1.5em;
 margin-bottom: 0;
}

a {
	font-weight: 700;
	text-decoration: none;	
}
a:link { color: #f50808; }
a:visited { color: #e7099d; }
a:hover { color: #f0ec0b; }
a:active { color: #30bb24; }
a:hover {
	text-decoration: underline;	
}



/* -------  Elements ------- */

img, iframe { 
  width: 100%;	
  border-radius: 10px;
  border: 1px solid #bd1212;
} 


.border-top {
  padding-top: 50px;
  border-top: 2px solid #e40c0c;
}

