/* this is the header */
header {
  background-color: rgb(18, 231, 214);
  height: 250px;
}

body{
  background-color: rgb(107, 107, 107);
}
/* only working on heder 1 */
header h1 {
  margin: 0;
  color: rgb(107, 107, 107);
  font-family: 'Abril Fatface', cursive;
  font-size:70px;
  /* text-align: center; */
  padding: 40px 0 2px 2px;
  text-align: center;
}
/* only working on heder 2 */
header h2 {
  margin: 0;
  color: rgb(107, 107, 107);
  font-family: 'Abril Fatface', cursive;
  font-size:52px;
  /* text-align: center; */
  padding: 40px 0 2px 2px;
  text-align: center;
  font-size: 30px;
}
/* only working on heder 3, many different h3 */
h3 {
  margin: 0;
  color: rgb(18, 231, 214);
  font-family: 'Abril Fatface', cursive;
  font-size:52px;
  /* text-align: center; */
  padding: 40px 0 2px 2px;
  text-align: center;
  font-size: 30px;
}
/*  */
footer {
    background-color: rgb(18, 231, 214);
    margin: 200px 0 0 0;
    padding: 20px 0;
    color: rgb(107, 107, 107);
}

p {
  padding-left: 20px;
  text-align: center;
}

img, iframe { 
  width: 100%;	
  border-radius: 10px;
  border: 1px solid rgb(18, 231, 214);
} 
/* add styles to my links */
a {
	font-weight: 700;
	text-decoration: none;	
}
a:link { color: #f50808; }
a:visited { color: #e7099d; }
a:hover { color: #f0ec0b; }
a:active { color: #30bb24; }
a:hover {
	text-decoration: underline;	
}

section {
	padding: 0 25%;
  margin: 80px 0;
}
